body {
    
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poiret One', sans-serif;
}
p, div {
    font-family: 'Quicksand', sans-serif;;
}
hr {
  border-color: #e8e8e8;
}

a{
  color:#6ab293;
}
a:hover {
  color:green;
}
textarea, input {
  font-family:monospace;
  width: 100%;
}

/* Button Sizes */

btn {
  font-family: 'Poiret One';
}
.index-button {
  width:130px;
  margin-right:15px;
}
.nav-button {
  width:120px;
}
#gamecontrol {
  padding-top: 3px;
  width: 458px;
} 
#gamecontrol button{
  width: 120px;
  
}
#nextbtn {
  float:right;
}


