#nav {
  background:#e8e8e8;
  color:#6ab293;
  top: 0px;
  width:100%
}
#splash {
  width: 61px;
  height: auto;
  display:none;
}


hr {
  border-color: #e8e8e8;
}

a{
  color:#6ab293;
}
a:hover {
  color:green;
}
textarea, input {
  font-family:monospace;
  width: 318px;
}



#board {
  width: 300px;
}

.index-nav {
  text-align: left;
  vertical-align: middle;
}
/* Bigger than Phablet */
@media (min-width: 550px) {
  #splash {
    display: block;
  }
  .index-nav {
    text-align: right;
  }
}
/* Bigger than 930 */
@media (min-width: 938px) {
  #board {
    width: 400px;
  }
}

.create-button {
  width: 150px;
}

.index-button {
  width:130px;
}
.nav-button {
  width:120px;
}
